/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------*/
html {
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
    color: white;
}

/* TYPE */

h1 {
    font-size: 3.75em;
    font-weight: 700;
}

h2 {
    font-size: 1.875em;
    font-weight: 700;
}

p {
    font-size: 0.938em;
    line-height: 1.875em;
}

/* DIVS */

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #7AC141, #2A4217, #5B8F31, #A4CC83);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.start, .sub {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sub {
    width: 60%;
    padding: 3% 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* IMGS */

img {
    padding-top: 3%;
    width: 35%;
}

.start img {
    width: 65%;
}

/* MISCELLANEOUS */

hr {
    width: 85%;
}

/*-------------------------------------*/

@media (max-width: 1050px) {    
    .start img {
        width: 50%;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2.25em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 0.75em;
        line-height: 1.5em;
    }

    .center {
        width: 60%;
    }
    
    .start img {
        width: 70%;
    }
}