/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------*/
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
    color: white;
    background-image: linear-gradient(#99B4C3, #D5E4EC);
    overflow: hidden;
    user-select: none;
}

h1 {
    font-size: 3.563em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 1.875em;
    font-weight: 700;
}

p {
    font-size: 0.938em;
    line-height: 1.875em;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.textbox {
    width: 60%;
    position: relative;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#next {
    cursor: pointer;
    color: white;
    font-size: 2.25em;
    z-index: 2000;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1.25s;
    animation-name: slide;
    animation-duration: 1.25s;
}
  
  @-webkit-keyframes slide {
    from {margin-left: 100%;}
    to {margin-left: 0%;}
  }
  
  @keyframes slide {
    from {margin-left: 100%;}
    to {margin-left: 0%;}
  }

/*-------------------------------------*/

@media (max-width: 1050px) {
    h2 {
        font-size: 2.438em;
    }
    
    p {
        font-size: 1.219em;
    }

    #next {
        font-size: 3.563em;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2.625em;
    }

    h2 {
        font-size: 1.313em;
    }
    
    p {
        font-size: 0.75em;
        line-height: 1.5em;
    }
    
    .textbox {
        width: 70%;
    }
    
    #next {
        font-size: 3.188em;
    }
}